*{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: white;
    
}

nav{
    display: flex;
    /* justify-content: space-evenly; */
    margin: 0;
    padding: 0;
    background-color: black;
    height: 40px;
    

}

ul{
    display:flex;
    /* margin-top: 0px; */
    margin: 0;
    padding: 0;
    
    
}
li{
    padding: 0px;
    margin-left: 40px;
    
}